@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

.App{
  padding-top: 20px;
  font-family: 'Pangolin', cursive;
  color: #333945;
  min-height: 100vh;
  background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border-radius: 1cm;
  padding: 15px;

}
.search-button{
  background:#A4B0BD;
  border-radius: 1.5cm;
  padding: 10px 20px;
  color: white;
  display: block;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

h1{
  text-align: center;
}

a{
  color: inherit
}